.homepage-header-container {
  height: 80vh;
  max-height: 700px;
  position: relative;

  .header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .heading-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    @include flex-align(column, center, center);
    background-color: rgba(0, 0, 0, 0.5);

    .heading, .subheading {
      padding: 0px 30px;
      text-align: center;
      color: $port_white;
    }

    .heading {
      font-size: 35px;
      text-transform: uppercase;
      line-height: 1;
    }

    .subheading {
      font-size: 20px;
      text-transform: capitalize;
      font-weight: 400;
    }

    @include screenbreak($medium) {
      .heading { font-size: 40px; }
      .subheading { font-size: 25px; }
    }

    @include screenbreak($large) {
      .heading { font-size: 65px; }
      .subheading { font-size: 30px; }
    }
  }

  .down-icon-container {
    position: absolute;
    bottom: 30px;
    width: 100%;
    @include flex-align(row, center, center);

    .icon {
      width: 40px;
      height: 40px;
      transition: transform 300ms;
      animation: arrow-down 3s infinite;

      &:hover {
        path {
          fill: $port_blue;
        }
      }

      @keyframes arrow-down {
        0% {
          transform: translateY(0px);
        }
        50% {
          transform: translateY(-10px);
        }
        100% {
          transform: translateY(0px);
        }
      }

      path {
        fill: $port_white;
        transition: fill 300ms;
      }
    }
  }
}