// Fonts 
$port_black_font: #232323;
$port_grey_font: #C5CAC4;
$port_dark_grey_font: #AAADA9;
$port_white_font: #F3FDF1;


// Whites
$port_white: rgb(255, 255, 255);
$port_light_white: rgb(244, 242, 242);
$port_transparent_white: rgba(255, 255, 255, 0.3);
$port_transparent_white--variant-1: rgba(223, 221, 221, 0.3);


// Greys
$port_light_grey: rgb(232, 231, 231);
$port_grey: #E3DDDD;
$port_grey--variant-1: rgb(211, 210, 210);
$port_grey--variant-2: rgb(193, 192, 192);
$port_dark_grey--variant-1: rgb(104, 104, 104);
$port_dark_grey--variant-2: rgb(55, 55, 55);


// Blacks
$port_black: rgb(10, 10, 10);


// Blues
$port_blue: #00009C;


// Messages
$error: rgb(190, 8, 8);
$warning: rgb(245, 190, 6);
$success: rgb(57, 167, 30);
