// Fonts 
$sb_black_font: #232323;
$sb_grey_font: #C5CAC4;
$sb_dark_grey_font: #AAADA9;
$sb_white_font: #F3FDF1;


$sb_light_green--primary: #54a743;
$sb_light_green--secondary: #396f2e;
$sb_green: #166407;
$sb_dark_green: #0E4005;